@import url("http://fonts.cdnfonts.com/css/noteworthy");

body {
  margin: 0;
  font-family: "Noteworthy", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
